* {
    box-sizing: border-box;
}

body {
    font: 400 14px/1 'PT Sans', sans-serif;
    margin: 0;
    height: 100vh;
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-flex {
    display:flex;
}

.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between
}

.container {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 0 10px
}
.header{ 
    padding: 0px 0px;
    position: fixed; 
    width: 100%;
    left: 0;
    top: 0;
}
.header_name{
  font-size: 58px;
  font-weight: 400px;
}
.header__foto{
    width: 150px;
    border-radius: 100px;
}
.align-items-center{
    align-items: center;
}
.main{
    font-size: 24px;
    padding-top: 160px;
}

.main__info{
    margin-top: 0px;
    font-size: 24px;
    padding-bottom: 10px;
    font-size: 38px;
}

.block + .block {
    margin-top: 10px;
}
 .footer{
    font-size: 24px;
    position: fixed; 
    width: 100%; 
    bottom: 0%;
}

.footer__logo {
    width: 100px;
    height: 50px;
}

.footer__git{
    width: 50px;
    height: 50px;
}
.justify-content-around {
    justify-content: space-around;
}
